* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html {
    /* font-size: 62.5%; */
}

body {
    height: 100vh;
    width: 100%;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 60vh;
    width: 45%;
    background-color: antiquewhite;
    border-radius: 12px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.1), 5px -5px 3px 1px rgba(0,0,0,0.1), -5px 5px 3px 1px rgba(0,0,0,0.1), 5px 5px 3px 1px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
}

#eRateText {
    /* margin: auto; */
    margin-top: 10px;
}

#eRateValue {
    margin: 10px;
    font-size: 60px;
    font-weight: bolder;
    /* display: flex;
    flex-direction: column; */
}

.convertFromAndTo{
    height: max-content;
    width: 100%;
    background-color: aqua;
    padding: 20px 10px;
    display: flex;

    justify-content: space-between;
}

select{
    height: 40px;
    width: 25%;
    font-size: 30px;
}

#reverse {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 0;
    outline: none;
}

#reverse:hover {
    opacity: 0.4;
}

.enterValue{
    width: 100%;
    height: 10%;
    margin-top: 4%;
}

input{
    width: 100%;
    height: 100%;
    font-size: 25px;
    padding: 0 5px;
}


#convertBtn {
    width: 100%;
    height: 10%;
    border: 0;
    background-color: deepskyblue;
    border-radius: 20px;
    margin-top: 15px;
    color: aliceblue;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}


@media only screen and  (max-width: 1440px) {
    main {
        width: 70%;
    }

    /* #eRateValue {
        font-size: 40px;
    } */
}




@media only screen and  (max-width: 1024px) {
    main {
        width: 70%;
    }

    #eRateValue {
        font-size: 40px;
    }
}




@media only screen and  (max-width: 770px) {
    main {
        width: 70%;
    }

    #eRateValue {
        font-size: 40px;
    }
}






@media only screen and  (max-width: 594px) {
    main {
        width: 80%;
    }

    #eRateValue {
        font-size: 30px;
    }
}


@media only screen and  (max-width: 425px) {
    main {
        width: 80%;
    }

    #eRateValue {
        font-size: 30px;
    }

    select {
        width: 35%;
        font-size: 24px;
    }
}